* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  background: url("./assets/clouds.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  margin: 0 5px;
  color: white;
}

nav {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 10px;
}

.introduction {
  flex: 2 1 auto;
}
.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.intro-text h1 {
  flex: 1 1 auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
}
.introduction p {
  flex: 1 1 auto;
  font-size: 20px;
}
main {
  margin: 0 5px;
  min-height: 69vh;
}

.about-me {
  min-height: 30vh;
  display: flex;
}
.my-pic {
  margin-left: 10px;
  align-self: center;
}

.image-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: contain;
}

.image-wrapper img {
  width: auto;
  height: 100%;
  margin-left: -20px;
}

.about-me-details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.about-me-details h1 {
  margin-top: 50px;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
}
.about-me-details p {
  font-size: 20px;
  letter-spacing: 2px;
  color: #838383;
}

@media screen and (max-width: 905px) {
  nav {
    display: none;
  }

  .header {
    height: 20vh;
    background: none;
    background-color: rgb(64, 176, 189);
  }

  main {
    height: 79vh;
  }

  .intro-text h1,
  p {
    margin-top: 5px;
    flex: 1 1 auto;
  }
}
@media screen and (max-width: 545px) {
  .about-me {
    flex-direction: column;
  }
  .my-pic {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .about-me-details {
    align-items: center;
  }
}
